body {
    width: auto;
    height: auto;
    display:flex;
    justify-content: center;
}
    .main {
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
        background: radial-gradient(#15253a, #191c20) repeat;
        height: 700px;
        max-height: 700px;
        max-width: 1180px;
        width: 1180px;
    }
    #left {
        grid-column: 1/2;
    }
    #middle {
        grid-column: 2/3;
        z-index: 1;
        display: grid;
        grid-template-rows: 10fr 1.3fr;
        grid-template-columns: 0.5fr 10fr 0.5fr;
        background-color: white;
        height: 700px;
        max-height: 700px;
    }
    #right {
        grid-column: 3/4;
    }
    .midleft{
        background-color: white;
        grid-column: 1/2;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
    }
    .midleft > .arrowleft {
        width: 25px;
        height: 25px;
        border: 1px solid white;
        border-radius: 50%;
    }
    .arrowleft:focus {
        outline: none;
    }
    .arrowleft > img {
        width: 25px;
        height: 25px;
        border: 1px solid white;
        border-radius: 50%;
    }
    .midright{
        background-color: white;
        grid-column: 3/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
    }
    .midright > .arrowright {
        width: 25px;
        height: 25px;
        border: 1px solid white;
        border-radius: 50%;
    }
    .arrowright:focus {
        outline: none;
    }
    .arrowright > img {
        width: 25px;
        height: 25px;
        border: 1px solid white;
        border-radius: 50%;
    }
    .img{
        object-fit: cover;
        width: 100%;
        max-height: 600px;
        height: 600px;
    }
    .image {
        
        grid-column: 2/3;
        grid-row: 1/2;
        max-width: 100%;
        max-height: 600px;
        height: 600px;
    }
    .orbs{
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
    }
    .orb-stage1 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid white;
        overflow: hidden;
        margin-right: 15px;
        margin-left: 15px;

    }
    .big-orb-stage1 {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 4px solid white;
        overflow: hidden;
        
        margin-left: 15px;margin-right: 20px;
    }
    .orb-stage2 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid white;
        overflow: hidden;
        margin-right: 15px;
        margin-left: 15px;
    }
    .big-orb-stage2 {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 4px solid white;
        overflow: hidden;
        margin-right: 15px;
        margin-left: 15px;
    }
    .orb-stage3 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid white;
        overflow: hidden;
        margin-right: 15px;
        margin-left: 15px;
    }
    .big-orb-stage3 {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 4px solid white;
        overflow: hidden;
        margin-right: 15px;
        margin-left: 15px;
    }
    .orb-stage4 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid white;
        overflow: hidden;
        margin-right: 15px;
        margin-left: 15px;
    }
    .big-orb-stage4 {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 4px solid white;
        overflow: hidden;
        margin-right: 15px;
        margin-left: 15px;
    }
    .orb-stage1 > img {
        max-width: 150%;
        max-height: 150%;
        object-fit: cover;
    }
    .big-orb-stage1 > img {
        max-width: 150%;
        max-height: 150%;
        object-fit: cover;
    }
    .orb-stage2 > img {
        max-width: 150%;
        max-height: 150%;
        object-fit: cover;
    }
    .big-orb-stage2 > img {
        max-width: 150%;
        max-height: 150%;
        object-fit: cover;
    }
    .orb-stage3 > img {
        max-width: 150%;
        max-height: 150%;
        object-fit: cover;
    }
    .big-orb-stage3 > img {
        max-width: 150%;
        max-height: 150%;
        object-fit: cover;
    }
    .orb-stage4 > img {
        max-width: 150%;
        max-height: 150%;
        object-fit: cover;
    }
    .big-orb-stage4 > img {
        max-width: 150%;
        max-height: 150%;
        object-fit: cover;
    } 
    #left{
        display: grid;
        grid-template-rows: 1fr 1.5fr 1fr;
    }
    .lefttop {
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .lefttop > p {
        padding: 0;
        margin: 0;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .lefttop > h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
    }
    .imgorb{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 4px solid white;
        overflow: hidden;
    }
   
    .imgorb > img {
        max-width: 150%;
        max-height: 150%;
        object-fit: cover;
    }
    .leftmiddle{
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .leftmiddle > p{
        padding: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.0rem;
        color: white;
    }



