<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MentalHealth 🍁</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
   
    </head>
    <body>
    <div id="Web_1920__1" style="transform-origin: 0px 0px; transform: scale(0.55);">
        <div id="Emergency_Number_">
            <span>Emergency Number </span>
        </div>
        <div id="phone-number">
            
            <span>+1 833-456-4566</span>

        </div>
        <div id="title">
            <span>MAKE YOUR 
                <br>MENTAL HEALTH 
                <br>A PRIORITY
            </span>
        </div>
        <div id="mouse">
            <svg class="Path_1" >
                <path id="Path_1" d="M 23.98437118530273 9.181640625 C 24.93619918823242 9.181640625 25.70780754089355 9.866767883300781 25.70780754089355 10.7119140625 L 25.70780754089355 16.8330078125 C 25.70780754089355 17.67815399169922 24.93619918823242 18.36328125 23.98437118530273 18.36328125 C 23.03254318237305 18.36328125 22.26093292236328 17.67815399169922 22.26093292236328 16.8330078125 L 22.26093292236328 10.7119140625 C 22.26093292236328 9.866767883300781 23.03254318237305 9.181640625 23.98437118530273 9.181640625 Z M 37.77186965942383 33.666015625 L 37.77186965942383 15.302734375 C 37.77186965942383 8.541561126708984 31.5989933013916 3.060545444488525 23.98437118530273 3.060546875 C 16.3697452545166 3.060546875 10.19687271118164 8.541562080383301 10.19687271118164 15.30273818969727 L 10.19687271118164 33.666015625 C 10.19687271118164 40.42718887329102 16.3697452545166 45.908203125 23.98437118530273 45.908203125 C 31.5989933013916 45.908203125 37.77186965942383 40.42718887329102 37.77186965942383 33.666015625 Z M 23.98437118530273 0 C 14.46609020233154 0 6.749997138977051 6.851270198822021 6.749999046325684 15.30273818969727 L 6.749999046325684 33.666015625 C 6.750001907348633 42.11748504638672 14.46609401702881 48.96875 23.98437309265137 48.96875 C 33.50265502929688 48.96875 41.21874237060547 42.11748504638672 41.21874618530273 33.666015625 L 41.21874237060547 15.302734375 C 41.21874618530273 6.851265430450439 33.50265502929688 -1.297228891417035e-06 23.98437118530273 0 Z">
                </path>
            </svg>
        </div>
        <div id="about-us-link">
            <span>CLICK FOR MORE INFO ABOUT US</span>
        </div>
        <a href="indextest.html">
        <svg class="mental-illness-btn">
            <rect id="mental-illness-btn" rx="41" ry="41" x="0" y="0" width="553" height="158">
            </rect>
        </svg>
        </a>
        <div id="resources">
            <span>The defining symptoms of mental health 
                <br>issues are detailed on the Government
                <br>of Canada website found here:
            </span>
        </div>
        <a href="indextest.html">
        <svg class="cannabis-mental-health">
            <rect id="cannabis-mental-health" rx="41" ry="41" x="0" y="0" width="553" height="158">
            </rect>
        </svg>
        </a>
        <svg class="covid-care">
            <rect id="covid-care" rx="41" ry="41" x="0" y="0" width="553" height="158">
            </rect>
        </svg>
        <svg class="Rectangle_6">
            <rect id="Rectangle_6" rx="41" ry="41" x="0" y="0" width="553" height="158">
            </rect>
        </svg>
        <svg class="Rectangle_7">
            <rect id="Rectangle_7" rx="41" ry="41" x="0" y="0" width="553" height="158">
            </rect>
        </svg>
        <svg class="Rectangle_8">
            <rect id="Rectangle_8" rx="41" ry="41" x="0" y="0" width="553" height="158">
            </rect>
        </svg>
        <div id="Component_1__1" class="Component_1___1">
            <img id="Mask_Group_1" src="img/Mask_Group_1.png">
                
            
        </div>
        <div id="How_does_it__work">
            <span>How does it <br>work?</span>
        </div>
        <div id="MORE_">
            <span>MORE </span>
        </div>
        <svg class="Icon_awesome-arrow-right" viewBox="0 2.647 20 20">
            <path id="Icon_awesome-arrow-right" d="M 8.503514289855957 3.986857652664185 L 9.494475364685059 2.970141649246216 C 9.914071083068848 2.539639949798584 10.59256649017334 2.539639949798584 11.00769996643066 2.970141649246216 L 19.68530082702637 11.86869812011719 C 20.10489845275879 12.2992000579834 20.10489845275879 12.99532890319824 19.68530082702637 13.42125225067139 L 11.00769901275635 22.32438850402832 C 10.58810234069824 22.75489044189453 9.90960693359375 22.75489044189453 9.494475364685059 22.32438850402832 L 8.503514289855957 21.30767250061035 C 8.07945442199707 20.87259101867676 8.088381767272949 20.16272163391113 8.521368980407715 19.73680114746094 L 13.90023326873779 14.47918605804443 L 1.071308970451355 14.47918605804443 C 0.4776252508163452 14.47918605804443 0 13.9891471862793 0 13.38003349304199 L 0 11.91449642181396 C 0 11.30538272857666 0.4776252508163452 10.81534385681152 1.071308970451355 10.81534385681152 L 13.90023326873779 10.81534385681152 L 8.521369934082031 5.557730197906494 C 8.083918571472168 5.131808280944824 8.074991226196289 4.421938896179199 8.503514289855957 3.986857652664185 Z">
            </path>
        </svg>
        <svg class="Icon_awesome-phone-alt" viewBox="0 0 36 36">
            <path id="Icon_awesome-phone-alt" d="M 34.97273254394531 25.43906211853027 L 27.09773254394531 22.06406211853027 C 26.40665054321289 21.7695369720459 25.60408782958984 21.96730995178223 25.12898254394531 22.54921913146973 L 21.64148330688477 26.81015777587891 C 16.16818046569824 24.22954940795898 11.763427734375 19.82479858398438 9.18281364440918 14.35149097442627 L 13.44375038146973 10.86398410797119 C 14.02691841125488 10.38967609405518 14.22491836547852 9.586196899414062 13.92890644073486 8.895235061645508 L 10.55390644073486 1.020234107971191 C 10.22771167755127 0.2723809480667114 9.415914535522461 -0.1379456520080566 8.620311737060547 0.04289042949676514 L 1.307812690734863 1.730390667915344 C 0.5421178340911865 1.907205939292908 -0.0001760721206665039 2.589154481887817 0 3.374999523162842 C 0 21.41015625 14.61796855926514 36 32.625 36 C 33.41111373901367 36.00050735473633 34.09344482421875 35.4581413269043 34.27031707763672 34.69218826293945 L 35.95781326293945 27.37968826293945 C 36.13747024536133 26.58026504516602 35.72408676147461 25.76589584350586 34.97273254394531 25.43906402587891 Z">
            </path>
        </svg>
        <svg class="house" viewBox="0 -0.002 60 60">
            <path id="house" d="M 58.85666275024414 32.57961654663086 C 58.09555435180664 33.34254837036133 57.17777633666992 33.7240104675293 56.10332870483398 33.7240104675293 C 55.02888107299805 33.7240104675293 54.12055206298828 33.33309555053711 53.37833404541016 32.5512580871582 L 52.5 31.73049736022949 L 52.5 56.24486541748047 L 58.125 56.24486541748047 C 58.63277816772461 56.24486541748047 59.07221984863281 56.43059158325195 59.44333267211914 56.80204772949219 C 59.81444549560547 57.17350387573242 60 57.61335372924805 60 58.12160491943359 C 60 58.62985610961914 59.81444549560547 59.0697021484375 59.44333267211914 59.44115829467773 C 59.07221984863281 59.81261825561523 58.63277816772461 59.99834060668945 58.125 59.99834060668945 L 1.933334231376648 59.99834060668945 C 1.425556421279907 59.99834060668945 0.9861119389533997 59.81261825561523 0.6150007843971252 59.44115829467773 C 0.243889719247818 59.0697021484375 0.05833421275019646 58.62985610961914 0.05833425000309944 58.12160873413086 C 0.05833428725600243 57.61336517333984 0.243889793753624 57.17351150512695 0.61500084400177 56.80205535888672 C 0.9861119389533997 56.43059539794922 1.425556421279907 56.24486541748047 1.933334231376648 56.244873046875 L 7.500000953674316 56.244873046875 L 7.500000953674316 31.73049926757812 L 6.621667385101318 32.55126190185547 C 5.879445552825928 33.33309555053711 4.971112251281738 33.7240104675293 3.896667718887329 33.7240104675293 C 2.82222318649292 33.7240104675293 1.904445648193359 33.34254837036133 1.14333438873291 32.57961654663086 C 0.3822233378887177 31.81668663024902 0.001112277386710048 30.89805793762207 1.114327233153745e-06 29.82373046875 C -0.001110048731788993 28.74940490722656 0.370000958442688 27.84022903442383 1.113334178924561 27.09620666503906 L 27.12833404541016 1.115474581718445 C 27.90944290161133 0.3336393237113953 28.86666488647461 -0.03781581297516823 30 0.001109159318730235 C 31.13333320617676 -0.03781578317284584 32.09055328369141 0.3336393237113953 32.87166595458984 1.115474581718445 L 58.82833480834961 27.09620666503906 C 59.60944366455078 27.8391170501709 60 28.74829292297363 60 29.82373428344727 C 60 30.89917373657227 59.6188850402832 31.81780433654785 58.85666275024414 32.57962036132812 Z M 26.25 39.35422897338867 C 26.25 38.84597778320312 26.06444549560547 38.40612411499023 25.69333267211914 38.03467178344727 C 25.32222175598145 37.66321563720703 24.88277816772461 37.47748947143555 24.375 37.47748947143555 L 16.875 37.47748947143555 C 16.36722183227539 37.47748947143555 15.92777824401855 37.66321563720703 15.55666637420654 38.03467178344727 C 15.18555545806885 38.40612411499023 14.99999904632568 38.84597778320312 15.00000095367432 39.35422897338867 L 15.00000095367432 56.244873046875 L 26.25 56.244873046875 L 26.25 39.35422897338867 Z M 45 39.35422897338867 C 45 38.84597778320312 44.8144416809082 38.40612411499023 44.44333267211914 38.03467178344727 C 44.07222366333008 37.66321563720703 43.63277816772461 37.47748947143555 43.125 37.47748947143555 L 35.625 37.47748947143555 C 35.11722183227539 37.47748947143555 34.67777633666992 37.66321563720703 34.30666351318359 38.03467178344727 C 33.93555450439453 38.40612411499023 33.75 38.84597778320312 33.75 39.35422897338867 L 33.75 46.86117935180664 C 33.75 47.36942672729492 33.93555450439453 47.80928421020508 34.30666351318359 48.18073654174805 C 34.67777633666992 48.55218887329102 35.11722183227539 48.73791885375977 35.625 48.73791885375977 L 43.125 48.73791885375977 C 43.63277816772461 48.73791885375977 44.07222366333008 48.55218887329102 44.44333267211914 48.18073654174805 C 44.8144416809082 47.80928421020508 45 47.36942672729492 45 46.86117935180664 L 45 39.35422897338867 Z">
            </path>
        </svg>
        <svg class="Icon_awesome-canadian-maple-le" viewBox="1.617 0 70 70">
            <path id="Icon_awesome-canadian-maple-le" d="M 55.81460571289062 48.083984375 C 56.19014358520508 47.7421875 71.6171875 35.45117568969727 71.6171875 35.45117568969727 L 68.98843383789062 34.42578506469727 C 67.48628234863281 33.755859375 67.87683868408203 32.85351943969727 68.23735809326172 32.046875 C 68.59787750244141 31.0078125 71.25666809082031 22.84570503234863 71.25666809082031 22.84570503234863 C 71.25666809082031 22.84570503234863 64.0914306640625 24.21289253234863 62.58928298950195 24.55468940734863 C 61.46267318725586 24.88281440734863 61.08713912963867 24.21289253234863 60.71160125732422 23.52929878234863 C 60.33606338500977 22.84570503234863 58.45838165283203 19.09961128234863 58.45838165283203 19.09961128234863 C 58.45838165283203 19.09961128234863 50.55709838867188 27.28906440734863 50.18156051635742 27.61719131469727 C 48.67941284179688 28.64258193969727 47.16225051879883 27.61719131469727 47.53778457641602 26.25000381469727 C 47.53778457641602 24.88281631469727 51.6837043762207 8.531252861022949 51.6837043762207 8.531252861022949 C 51.6837043762207 8.531252861022949 47.16225051879883 10.91015911102295 45.66010284423828 11.59375286102295 C 44.53349304199219 12.27734661102295 43.76740264892578 12.27734661102295 43.01632690429688 10.91015911102295 C 42.2502326965332 9.884765625 36.60216522216797 0 36.60216522216797 0 C 36.60216522216797 0 30.96911811828613 9.884765625 30.21804618835449 10.91015625 C 29.46697425842285 12.27734375 28.71590042114258 12.27734375 27.57427024841309 11.59375 C 26.07212257385254 10.91015625 21.5506649017334 8.531249046325684 21.5506649017334 8.531249046325684 C 21.5506649017334 8.531249046325684 25.69658470153809 24.8828125 25.69658470153809 26.25 C 26.07212066650391 27.6171875 24.56997489929199 28.642578125 23.05280876159668 27.6171875 C 22.67727088928223 27.275390625 14.77598285675049 19.099609375 14.77598285675049 19.099609375 C 14.77598285675049 19.099609375 12.89830303192139 22.83203125 12.52276611328125 23.515625 C 12.14723014831543 24.19921875 11.77169322967529 24.869140625 10.6450834274292 24.541015625 C 9.12791633605957 24.19921875 1.977702498435974 22.83203125 1.977702498435974 22.83203125 C 1.977702498435974 22.83203125 4.621479034423828 30.994140625 4.997015476226807 32.033203125 C 5.35753059387207 32.853515625 5.748088359832764 33.7421875 4.24594259262085 34.412109375 L 1.61718738079071 35.451171875 C 1.61718738079071 35.451171875 17.02920532226562 47.74218368530273 17.41976356506348 48.08398056030273 C 18.18585777282715 48.76757431030273 18.92190933227539 49.10937118530273 18.18585777282715 51.16015243530273 C 17.41976356506348 53.21093368530273 16.6686897277832 55.95898056030273 16.6686897277832 55.95898056030273 C 16.6686897277832 55.95898056030273 30.96911811828613 53.21093368530273 32.48628234863281 52.86913681030273 C 33.79315185546875 52.74608993530273 35.23521041870117 53.21093368530273 35.23521041870117 54.57812118530273 C 35.23521041870117 55.94530868530273 34.36396408081055 70 34.36396408081055 70 L 38.87040328979492 70 C 38.87040328979492 70 37.99916076660156 55.958984375 37.99916076660156 54.578125 C 37.99916076660156 53.197265625 39.42619705200195 52.74609375 40.76310729980469 52.869140625 C 42.26525497436523 53.2109375 56.5656852722168 55.958984375 56.5656852722168 55.958984375 C 56.5656852722168 55.958984375 55.81460952758789 53.2109375 55.06353759765625 51.16015625 C 54.31246566772461 49.109375 55.06353759765625 48.767578125 55.81460952758789 48.083984375 Z">
            </path>
        </svg>
        <div id="Covid-19_Care">
            <span>Covid-19 Care</span>
        </div>
        <div id="Mental_illness">
            <span>Mental illness</span>
           
        </div>
        <div id="Improving_Your_Mental_Health">
            <span>Improving Your Mental Health</span>
        </div>
        <div id="Cannabis__Mental_Health">
            <span>Cannabis &amp; Mental Health</span>
        </div>
        <div id="Suicide_Prevention_">
            <span>Suicide Prevention </span>
        </div>
        <div id="Mental_Health_Services">
            <span>Mental Health Services</span>
        </div>
    </div>
    
    </body></html>